*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color: green;
    height: 30px;
  }
 nav ul{
    display: flex;
    float: left;
    margin-left: 150px;
     /* padding-left: 80px;
     margin-top: 20px; */
     }
 nav ul li{
     display: inline-block;
     line-height: 30px;
     margin: 0 5px;
 }
  .fab{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 28px;
 }
 .fab:hover{
     background-color: rgb(27, 158, 38);
 }

